@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Mouse+Memoirs&family=Poppins:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Comic;
    background-color: #678a68;
    overflow-x: hidden;
     overflow-y: hidden;
}

.gameplaycontainer{
  
    height: 100%;
    position: relative;
    top:150px;
   
}
body h1{
    color: #678a68;
    position: absolute;
    font-family: Papyrus;
    font-size: 190px;
    top:70px;
    right: 0;
    opacity: 50%;
    text-shadow: -1px 1px 0 rgb(255, 255, 255),
                  1px 1px 0 rgb(255, 255, 255),
                 1px -1px 0 rgb(255, 255, 255),
                -1px -1px 0 rgb(255, 255, 255);
                
}


.gamemodes{
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 10px;

    position: relative;
    top:50px;
    height: 45px;
    margin-left: 20%; 
    filter: brightness(80%);
    
    
}
.gamemodes img{
    border: 4px solid white;
   
}

.gamemodes img:hover{
    border: 4px solid rgb(12, 234, 250);
  
}


.tips{
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 5px;
    position: relative;
    top:0px;
    margin-left: 55%;
    height: 45px;
    filter: brightness(70%);
    
}
.tips img{
    border: 4px solid white;
   
}

.tips img:hover{
    border: 4px solid rgb(12, 234, 250);
}

.centered1 {
    position: absolute;
    top: 170px;
    left: 2.5%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;

  }
  .centered1 a{
    text-decoration: none;
    color: white;
  }
  .centered1 a:hover{
    text-decoration: underline overline;
  }

  .centered2 a{
    text-decoration: none;
    color: white;
  }
  .centered2 a:hover{
    text-decoration: underline overline;
  } 

  .centered2 {
    position: absolute;
    top: 170px;
    left: 4.9%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;

  }

@keyframes centered1 {
  from {
    text-shadow: 0 0 10px rgb(219, 243, 214), 0 0 20px rgb(191, 233, 201), 0 0 30px #157c8a, 0 0 40px #34c44c, 0 0 50px #00e64d, 0 0 60px #26e600, 0 0 70px #00e699;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #bce232, 0 0 40px #ddbd30, 0 0 50px #3ce711, 0 0 60px #c1ff4d, 0 0 70px #5cff4d, 0 0 80px #77a708;
  }
}

 

/* leaf animations */

#leaves {
  position:relative;
  top:-112px;
  width:100%;
  text-align: right;}

#leaves i {
   display: inline-block;
   position: relative;
    width: 200px;
    height: 150px;
    top:0px;
    margin-left: 50px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: -1;
    animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { animation: falling3 5s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 120px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { animation-timing-function:ease-in-out;}

@keyframes falling {
    
    0% {
        transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@keyframes falling3 {
     0% {
        transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@keyframes falling2 {
     0% {
        transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}


/* MEDIA QUERIES */
@media only screen and (min-width: 1920px) {
        

  body h1{
    color: #678a68;
    position: absolute;
    font-family: Papyrus;
    letter-spacing: 2px;
    font-size: 260px;
    top:70px;
    text-align: center;
    left: 0;
    opacity: 50%;
    text-shadow: -1px 1px 0 rgb(255, 255, 255),
                  1px 1px 0 rgb(255, 255, 255),
                 1px -1px 0 rgb(255, 255, 255),
                -1px -1px 0 rgb(255, 255, 255);
                
}
  

.gamemodes{
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 10px;
  position: relative;
  top:260px;
  height: 45px;
  margin-left: 20%; 
  filter: brightness(80%);
    
    
}
.gamemodes img{
    border: 4px solid white;
    width:400px; 
    height:470px;
   
}

.gamemodes img:hover{
    border: 4px solid rgb(12, 234, 250);
  
}


.tips{
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 5px;
    position: relative;
    top:210px;
    margin-left: 55%;
    height: 45px;
    filter: brightness(70%);
    
}
.tips img{
    border: 5px solid white;
    width:400px; 
    height:470px;
   
}

.tips img:hover{
    border: 4px solid rgb(12, 234, 250);
}

.centered1 {
    position: absolute;
    bottom: 170px;
    left: 1.5%;
    color: white;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;

  }
  .centered1 a{
    text-decoration: none;
    color: white;
  }
  .centered1 a:hover{
    text-decoration: underline overline;
  }

  .centered2 a{
    text-decoration: none;
    color: white;
  }
  .centered2 a:hover{
    text-decoration: underline overline;
  } 

  .centered2 {
    position: absolute;
    top: 170px;
    left: 3.5%;
    color: white;
    font-size: 75px;
    font-weight: bold;
    cursor: pointer;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;
    animation: centered1 1s ease-in-out infinite alternate;

  }
  #leaves {
    position:relative;
    top:-112px;
    width:100%;
    text-align: center;}
  
#leaves i {
   display: inline-block;
   position: relative;
    width: 200px;
    height: 150px;
    top:0px;
    margin-left: 50px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: -1;
    animation: falling 5s 0s infinite;
}

}